@charset "UTF-8";
/* --- BACKGROUND COLORS -- */
/* --- PRIMARY COLOR -- */
/* --- TEXT COLORS -- */
/*$text-color: #b6b6b6;*/
/* --- LIGHT BUTTON -- */
/* --- DARK BUTTON -- */
html {
  box-sizing: border-box;
}

*, :after, :before {
  box-sizing: inherit;
}

body {
  background-color: #292929;
  color: #cfcfcf;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.stred {
  text-align: center;
}

.title {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 0.2rem;
}

.logo {
  color: #cfcfcf;
  font-size: 36px;
  margin: 0;
  padding: 0;
}
.logo__link {
  color: #cfcfcf;
  text-decoration: none;
}
.logo__h {
  color: #E6B200;
}
.logo--inFooter {
  font-size: 80px;
  margin: 0;
  opacity: 0.6;
}

.header {
  display: flex;
  width: 100%;
  background-color: #191919;
  padding: 20px 20px;
  justify-content: space-between;
}
.header .logo {
  align-self: flex-start;
}
.header .menu {
  position: relative;
  order: -1;
}
.header .menu__list {
  position: absolute;
  display: none;
  background-color: #E6B200;
  /*filter: brightness(80%);*/ /* <-- Snížení jasu menu na telefonu */
  padding: 0;
  margin-top: -20px;
  margin-left: -20px;
  height: 100vh;
  width: 100vw;
  list-style: none;
  text-align: center;
  z-index: 2;
}
.header .menu__items {
  margin-top: 100px;
}
.header .menu__link {
  display: inline-block;
  font-size: 14px;
  color: #292929;
  text-decoration: none;
  margin: 20px 0;
}
.header .menu__checkbox {
  position: absolute;
  left: -9999px;
}
.header .menu__toggler {
  position: absolute;
  background-repeat: no-repeat;
  cursor: pointer;
  color: transparent;
  height: 100%;
  background-image: url(/images/mobile_menu.svg);
  background-position: 0 85%;
  background-size: 80%;
  top: 5px;
}
.header .menu__checkbox:checked ~ .menu__toggler {
  background-image: url(/images/mobile_menu_close.svg);
  z-index: 3;
}
.header .menu__checkbox:checked ~ .menu__list {
  display: block;
}
.header .button-contact {
  position: relative;
  display: inline-block;
  margin-top: 70px;
  padding: 8px 38px 8px 15px;
  font-weight: 600;
  color: #E6B200;
  background-image: linear-gradient(to right, #191919, #292929);
  border-radius: 30px;
  box-shadow: 1px 1px 10px black;
}
.header .button-contact__icon::after {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  background-image: url(../images/contact_y.svg);
  background-repeat: no-repeat;
  background-size: contain;
  left: 80px;
}
@media screen and (min-width: 495px) {
  .header {
    display: flex;
    flex-direction: column;
  }
  .header__checkbox {
    display: none;
  }
  .header .logo {
    align-self: center;
    padding-bottom: 30px;
  }
  .header .logo__link {
    text-decoration: none;
  }
  .header .menu {
    order: 0;
  }
  .header .menu__list {
    position: inherit;
    display: inline-block;
    height: auto;
    margin: 0;
    background-color: transparent;
  }
  .header .menu__items {
    margin: 0;
  }
  .header .menu__item {
    display: inline-block;
  }
  .header .menu__link {
    display: block;
    position: relative;
    color: #b6b6b6;
    margin: 10px 15px;
  }
  .header .menu__link--active {
    color: #ffffff;
  }
  .header .menu__link--active::after {
    content: "";
    position: absolute;
    background-color: #E6B200;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
  }
  .header .menu__github {
    color: #E6B200;
  }
  .header .menu__toggler {
    display: none;
  }
  .header .button-contact {
    display: inline-block;
    background-image: linear-gradient(to right, #E6B200, #F6E11F);
    color: #292929;
    font-weight: 800;
    margin: 0;
    margin-left: 30px;
  }
  .header .button-contact__icon::after {
    background-image: url(../images/contact.svg);
  }
}
@media screen and (min-width: 960px) {
  .header {
    flex-direction: row;
  }
  .header .logo {
    padding-bottom: 0;
    padding-left: 20px;
  }
  .header .menu__list {
    width: auto;
  }
  .header .menu__item {
    padding-right: 20px;
  }
  .header .menu__link {
    font-size: 14px;
    position: relative;
    margin: 20px 10px;
  }
  .header .menu__link--underline::after {
    content: "";
    position: absolute;
    background-color: #E6B200;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    transition: 0.4s;
  }
  .header .menu__link--active {
    color: #ffffff;
  }
  .header .menu__link--active::after {
    content: "";
    position: absolute;
    background-color: #E6B200;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
  }
  .header .menu__link--underline:hover {
    color: #ffffff;
  }
  .header .menu__link--underline:hover:after {
    width: 100%;
  }
  .header .menu__github {
    color: #E6B200;
  }
  .header .menu__github:hover {
    color: #ffc918;
  }
  .header .button-contact {
    margin-left: 70px;
    box-shadow: inset 0 0 0 0 #F6E11F;
    transition: box-shadow 0.5s ease-in-out 0s;
  }
  .header .button-contact:hover {
    box-shadow: inset 150px 0 0 0 #cfcfcf;
  }
}

.hero-container {
  background-image: linear-gradient(#191919, #131313);
}

.hero {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 10px 20px 40px 20px;
  z-index: 1;
}
.hero__title {
  font-size: 4vw;
  /*font-size: 7vw;*/
  margin-bottom: 70px;
  letter-spacing: 0.3rem;
  line-height: 3;
  text-align: center;
  font-weight: 200;
}
.hero__title--bigger {
  display: block;
  font-size: 9vw;
  text-transform: uppercase;
  /*transform: scale(1.1 , 1.5);*/
  color: #E6B200;
  font-weight: 800;
  position: relative;
}
.hero__title--bigger::after {
  content: "";
  position: absolute;
  background-color: #E6B200;
  width: 100px;
  height: 2px;
  left: 0;
  right: 0;
  bottom: 5px;
  margin: 0 auto;
}
.hero__title--bigger::before {
  content: "";
  position: absolute;
  background-color: #E6B200;
  width: 50px;
  height: 2px;
  left: 0;
  right: 0;
  bottom: -20px;
  margin: 0 auto;
}
.hero__intro {
  letter-spacing: 0.1rem;
  padding: 5px 25px 5px 25px;
  line-height: 2;
  text-align: center;
}
.hero__intro--middle-text {
  font-size: 16px;
}
.hero__intro--person-name {
  text-transform: uppercase;
  color: #E6B200;
  font-size: 6vw;
  font-weight: 600;
  letter-spacing: 0.2rem;
}
.hero__intro--job {
  text-transform: uppercase;
  color: #E6B200;
  font-weight: 200;
  font-size: 20px;
  margin: 0;
  margin: 40px 0;
}
.hero__intro--small-text {
  font-size: 12px;
  letter-spacing: 0.1rem;
  padding-bottom: 25px;
}
.hero__img {
  display: none;
}
@media screen and (min-width: 495px) {
  .hero {
    padding: 50px 20px 40px 20px;
    display: flex;
    flex-direction: column;
  }
  .hero__title {
    line-height: 1.5;
    margin-bottom: 0;
    font-size: 3vw;
    letter-spacing: 0.5rem;
  }
  .hero__title--bigger {
    display: inline;
    transform: scale(1.1, 2.5);
    color: #E6B200;
  }
  .hero__title--bigger::after, .hero__title--bigger::before {
    display: none;
  }
  .hero__intro {
    order: 1;
  }
  .hero__intro--middle-text {
    font-size: 20px;
    margin-right: 0;
  }
  .hero__intro--small-text {
    font-size: 14px;
  }
  .hero__intro--person-name {
    font-size: 30px;
  }
  .hero__intro--job {
    font-size: 30px;
  }
  .hero__img {
    display: block;
    position: inherit;
    max-width: 30%;
    max-height: 30%;
    align-self: center;
  }
}
@media screen and (min-width: 960px) {
  .hero {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
  }
  .hero__title {
    text-align: left;
    line-height: 1.5;
    font-size: 20px;
    padding: 20px 0 100px 100px;
  }
  .hero__title--bigger {
    font-size: 75px;
    transform: scale(0.8, 2.2);
    color: #E6B200;
    padding-left: 50px;
  }
  .hero__intro {
    border-right: none;
    text-align: left;
    padding-left: 50px;
    border-left: 4px solid #E6B200;
  }
  .hero__img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    align-self: flex-start;
    grid-row-end: span 3;
    margin-top: 60px;
    padding-top: 30px;
    padding-right: 50px;
    border-right: 4px solid #E6B200;
  }
}

.about-container {
  /*background-image: linear-gradient( #131313, colors.$sec-bg, colors.$main-bg);*/
  background-color: #E6B200;
}

.about {
  margin: 0 auto;
  padding: 30px 30px 40px 30px;
  max-width: 1200px;
  height: 580px;
  line-height: 1.5;
  color: #292929;
  height: auto;
}
.about__title {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 50px 0 30px 0;
  padding-bottom: 30px;
  letter-spacing: 0.2rem;
}
.about__content {
  font-size: 16px;
  text-align: justify;
}
.about__kurzy {
  padding: 10px 20px;
  border-radius: 15px;
  font-weight: 600;
  text-align: center;
  opacity: 90%;
}
.technology-container {
  background-color: #EEEEEE;
  color: #292929;
}

.technology {
  margin: 0 auto;
  padding: 30px 30px 40px 30px;
}
.technology__title {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 50px 0 30px 0;
  letter-spacing: 0.1rem;
}
.technology__content, .technology__list, .technology__tools {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 1px 1px 5px #c2c2c2;
}
.technology__content-title {
  text-align: center;
  margin: 0;
  margin: 16px 0;
  padding: 20px 20px 20px 20px;
  color: #E6B200;
  font-size: 20px;
  position: relative;
}
.technology__content-title::after {
  content: "";
  position: absolute;
  background-color: #E6B200;
  width: 300px;
  height: 2px;
  left: 0;
  right: 0;
  bottom: 5px;
  margin: 0 auto;
}
.technology__content-text {
  padding: 0 20px 25px 20px;
  font-size: 15px;
  text-align: justify;
  line-height: 1.5;
}
.technology__list {
  list-style: none;
  padding: 0;
  text-align: center;
  padding: 10px 0;
}
.technology__item {
  display: inline-block;
  padding: 5px 10px 5px 10px;
  background-color: #E6B200;
  border-radius: 30px;
  margin: 5px;
  font-size: 13px;
  color: #ffffff;
  font-weight: 600;
}
.technology__tools {
  padding: 20px 20px 10px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  -moz-column-gap: 50px;
       column-gap: 50px;
  row-gap: 20px;
  font-weight: 600;
  margin-bottom: 25px;
}
.technology__tool {
  font-size: 13px;
  align-self: center;
  display: flex;
  flex-direction: column;
}
.technology__tool-icon {
  align-self: center;
  width: 75%;
}
.technology__tool-desc {
  align-self: center;
  text-align: center;
}
@media screen and (min-width: 495px) {
  .technology {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10% r 1fr 1fr;
    gap: 20px;
    line-height: 1.75;
  }
  .technology__title {
    grid-column-end: span 3;
    font-size: 25px;
  }
  .technology__content {
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 0 20px;
  }
  .technology__content-title {
    font-size: 25px;
  }
  .technology__content-title::after {
    width: 450px;
    bottom: 10px;
  }
  .technology__content-text {
    font-size: 16px;
  }
  .technology__list {
    display: flex;
    margin: 0;
    flex-direction: column;
    grid-row-start: 2;
    grid-column-start: 3;
    grid-column-end: 3;
  }
  .technology__item {
    margin: 5px 70px;
  }
  .technology__tools {
    grid-row-start: 3;
    grid-column-end: span 3;
  }
}
@media screen and (min-width: 960px) {
  .technology {
    max-width: 1200px;
    -moz-column-gap: 50px;
         column-gap: 50px;
    row-gap: 60px;
  }
  .technology__title {
    padding-bottom: 0;
  }
  .technology__content {
    padding: 0 40px;
  }
  .technology__content-title {
    padding-bottom: 30px;
  }
  .technology__content-title::after {
    width: 650px;
    bottom: 15px;
  }
  .technology__item {
    margin: 5px 150px;
  }
}

.footer-container {
  background-color: #191919;
  flex-grow: 0;
  flex-shrink: 0;
  color: #b6b6b6;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  flex-basis: 33.3333333333%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}
.footer__text {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin: 0;
}
.footer__text--differentColor {
  color: #E6B200;
  margin: 15px 0 0 0;
}
.footer__icons {
  display: flex;
  gap: 40px;
  justify-content: flex-end;
  flex-grow: 1;
}
.footer__buttons {
  opacity: 0.5;
  align-self: center;
}
.footer__buttons:hover {
  opacity: 1;
}
@media screen and (min-width: 495px) {
  .footer {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
  }
  .footer__icons {
    justify-content: center;
  }
}
@media screen and (min-width: 960px) {
  .footer__icons {
    justify-content: flex-end;
  }
}

.copyright {
  background-color: #E6B200;
  color: #cfcfcf;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  margin: 0 auto;
  text-align: center;
  padding: 15px 0;
  font-size: 12px;
}

.contact-container {
  background-image: linear-gradient(#191919, #191919, #131313);
}

.contact {
  margin: 0 auto;
  padding: 20px 30px 20px 30px;
  height: 90vh;
}
.contact__title {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 30px 0 60px 0;
  color: #cfcfcf;
  letter-spacing: 0.2rem;
}
.contact__img {
  display: none;
}
@media screen and (min-width: 495px) {
  .contact {
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: 15% 450px;
    padding-left: 50px;
    padding-right: 50px;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .contact__title {
    grid-column-end: span 2;
  }
  .contact__img {
    display: block;
    width: 100%;
    justify-self: flex-end;
    margin-top: -60px;
    padding-left: 20px;
  }
}
@media screen and (min-width: 960px) {
  .contact {
    max-width: 1200px;
    -moz-column-gap: 70px;
         column-gap: 70px;
    grid-template-rows: 25% 450px;
  }
}

.form__field {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  justify-content: space-between;
}
.form__label {
  color: #E6B200;
  opacity: 80%;
  font-size: 10px;
  text-transform: uppercase;
  padding: 20px 0 5px 0;
}
.form__input {
  background-color: #dbdbdb;
  border-radius: 5px;
  height: 30px;
  opacity: 90%;
}
.form__textarea {
  height: auto;
}
.form__btn {
  margin: 60px auto;
  border-radius: 30px;
  padding: 10px 30px;
  color: #E6B200;
  text-transform: uppercase;
  font-size: 12px;
  display: block;
  background-image: linear-gradient(to right, #191919, #292929);
}
@media screen and (min-width: 495px) {
  .form {
    padding-left: 50px;
  }
}
@media screen and (min-width: 960px) {
  .form {
    padding-top: 20px;
    border-left: 4px solid #E6B200;
  }
}

.projects-container {
  background-image: linear-gradient(#191919, #191919, #131313);
}

.projects {
  margin: 0 auto;
  line-height: 1.75;
  padding: 30px 30px 75px 30px;
}
.projects__title {
  /*text-align: center;
  text-transform: uppercase;
  margin: 0;*/
  padding: 50px 0 30px 0;
  color: #cfcfcf;
  /*letter-spacing: .2rem;*/
}
.projects__box {
  background-color: #292929;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid #E6B200;
  margin: 16px 0;
}
.projects__subtitle {
  color: #E6B200;
  font-size: 20px;
  margin: 0;
  text-align: center;
  padding-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
.projects__img {
  width: 75%;
}
.projects__text {
  margin-top: 30px;
  font-size: 15px;
  line-height: 1.5;
  text-align: justify;
  color: #cfcfcf;
}
@media screen and (min-width: 495px) {
  .projects__box {
    padding: 40px;
  }
  .projects__text {
    font-size: 20px;
  }
}
@media screen and (min-width: 960px) {
  .projects {
    max-width: 1000px;
  }
  .projects__box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20% 1fr 1fr;
    gap: 20px 80px;
  }
  .projects__subtitle {
    grid-column-end: span 2;
  }
  .projects__text {
    margin-top: 0;
    font-size: 16px;
  }
  .projects__text--first {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .projects__text--second {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .projects .stred {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    align-self: baseline;
  }
  .projects__img {
    width: 100%;
  }
}

.gallery-container {
  background-image: linear-gradient(#191919, #191919, #131313);
}

.gallery {
  margin: 0 auto;
  line-height: 1.5;
  padding: 30px 30px 40px 30px;
  height: 100%;
}
.gallery__title {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 50px 0 0 0;
  color: #cfcfcf;
  letter-spacing: 0.2rem;
}
.gallery__box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 20px 20px 25px 20px;
  gap: 10px;
  justify-content: center;
}
.gallery__img {
  height: 200px;
  width: 150px;
  -o-object-fit: contain;
     object-fit: contain;
  vertical-align: middle;
}
.gallery__subtitle {
  position: relative;
  color: #E6B200;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  letter-spacing: 0.2rem;
  margin: 0;
  padding-bottom: 50px;
  padding-top: 60px;
}
.gallery__subtitle::after {
  content: "";
  position: absolute;
  background-color: #E6B200;
  width: 150px;
  height: 2px;
  left: 0;
  right: 0;
  top: 110px;
  margin: 0 auto;
}
@media screen and (min-width: 495px) {
  .gallery__box {
    padding: 40px;
  }
  .gallery__box {
    height: auto;
  }
  .gallery__img {
    height: auto;
    width: 100%;
  }
}
@media screen and (min-width: 960px) {
  .gallery {
    max-width: 1200px;
  }
  .gallery__box {
    /*grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr; */
  }
  .gallery__box-item {
    /* filter:grayscale(100%);

     &:hover {
         filter:grayscale(0%);
     }*/
  }
}/*# sourceMappingURL=style.css.map */