@charset "UTF-8";
/* --- BACKGROUND COLORS -- */
/* --- PRIMARY COLOR -- */
/* --- TEXT COLORS -- */
/*$text-color: #b6b6b6;*/
/* --- LIGHT BUTTON -- */
/* --- DARK BUTTON -- */
html {
  box-sizing: border-box;
}

*, :after, :before {
  box-sizing: inherit;
}

body {
  background-color: #292929;
  color: #cfcfcf;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

p {
  line-height: 1.5;
}

.stred {
  text-align: center;
}

/*.dark-lines {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    @include mixins.tablet {
        &::before, &::after {
            content: '';
            border-top: 2px solid;
            color: colors.$dark-text-color;
            flex: 0 0 100px;
            opacity: 0.7;
            margin: 0 30px 0 30px;
        }
    }
}

.light-lines {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    @include mixins.tablet {
        &::before, &::after {
            content: '';
            border-top: 2px solid;
            color: colors.$text-color;
            flex: 0 0 100px;
            opacity: 0.7;
            margin: 0 30px 0 30px;
        }
    }

}*/
.logo {
  color: #cfcfcf;
  font-size: 36px;
  margin: 0;
  padding: 0;
}
.logo__link {
  color: #cfcfcf;
  text-decoration: none;
}
.logo__h {
  color: #E6B200;
}
.logo--inFooter {
  font-size: 80px;
  margin: 0;
  opacity: 0.6;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #191919;
  padding: 20px 20px;
}

.logo {
  align-self: flex-start;
}

.menu {
  position: relative;
  order: -1;
}
.menu__list {
  height: 100vh;
  width: 100vw;
  list-style: none;
  text-align: center;
  z-index: 2;
  position: absolute;
  display: none;
  background-color: #E6B200;
  /*filter: brightness(80%);*/ /* <-- Snížení jasu menu na telefonu */
  padding: 0;
  margin-top: -20px;
  margin-left: -20px;
}
.menu__items {
  margin-top: 100px;
}
.menu__link {
  display: inline-block;
  font-size: 14px;
  color: #292929;
  text-decoration: none;
  margin: 20px 0;
  font-weight: 600;
}
.menu__checkbox {
  position: absolute;
  left: -9999px;
}
.menu__toggler {
  height: 80%;
  position: absolute;
  background-repeat: no-repeat;
  cursor: pointer;
  color: transparent;
  background-image: url(/images/mobile_menu_edit.svg);
  background-position: 0 85%;
  background-size: 80%;
  top: 5px;
}

.menu__checkbox:checked ~ .menu__toggler {
  background-image: url(/images/mobile_menu_close_edit.svg);
  z-index: 3;
}

.menu__checkbox:checked ~ .menu__list {
  display: block;
}

.button-contact {
  position: relative;
  display: inline-block;
  background-image: linear-gradient(to right, #191919, #292929);
  /*border-radius: 30px;*/
  border-radius: 2px;
  box-shadow: 1px 1px 3px black;
  font-weight: 600;
  color: #E6B200;
  margin-top: 70px;
  padding: 8px 38px 8px 15px;
}
.button-contact__icon::after {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  background-image: url(../images/contact_y.svg);
  background-repeat: no-repeat;
  background-size: contain;
  left: 80px;
}

@media screen and (min-width: 520px) {
  .header {
    flex-direction: column;
  }
  .logo {
    align-self: center;
    padding-bottom: 30px;
  }
  .logo__link {
    text-decoration: none;
  }
  .menu {
    order: 0;
  }
  .menu__list {
    position: inherit;
    display: inline-block;
    height: auto;
    margin: 0;
    background-color: transparent;
  }
  .menu__checkbox {
    display: none;
  }
  .menu__items {
    margin: 0;
  }
  .menu__item {
    display: inline-block;
  }
  .menu__link {
    display: block;
    position: relative;
    color: #b6b6b6;
    margin: 10px 15px;
    transition: 0.4s;
  }
  .menu__link--active {
    color: #ffc918;
  }
  .menu__toggler {
    display: none;
  }
  .button-contact {
    display: inline-block;
    background-image: linear-gradient(to right, #E6B200, #F6E11F);
    color: #292929;
    font-weight: 800;
    margin: 0;
    margin-left: 0;
  }
  .button-contact__icon::after {
    background-image: url(../images/contact.svg);
  }
}
@media screen and (min-width: 960px) {
  .header {
    flex-direction: row;
  }
  .logo {
    padding-bottom: 0;
    padding-left: 20px;
  }
  .menu__list {
    width: auto;
  }
  .menu__item {
    padding-right: 25px;
  }
  .menu__link {
    font-size: 14px;
    margin: 20px 10px;
  }
  .menu__link--underline::after {
    content: "";
    position: absolute;
    background-color: #E6B200;
    width: 125%;
    height: 2px;
    bottom: -8px;
    left: -10%;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.4s ease-out;
  }
  .menu__link--underline:hover {
    color: #ffffff;
  }
  .menu__link--underline:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .menu__link--active::after {
    width: 0%;
  }
  .menu__link--active:hover:not(.active) {
    color: #ffc918;
  }
  .button-contact {
    box-shadow: inset 0 0 0 0 #F6E11F;
    transition: box-shadow 0.5s ease-in-out 0s;
    margin-left: 70px;
  }
  .button-contact:hover, .button-contact:focus {
    box-shadow: inset 150px 0 0 0 #FFECB2;
  }
}
.hero-container {
  /*background-image: linear-gradient(colors.$sec-bg, #131313);*/
  background-image: linear-gradient(78deg, rgba(96, 96, 96, 0.04) 0%, rgba(96, 96, 96, 0) 35%, rgba(43, 43, 43, 0.1) 35%, rgba(17, 17, 17, 0) 100%), linear-gradient(60deg, rgba(96, 96, 96, 0.04) 0%, rgba(96, 96, 96, 0) 75%, rgba(43, 43, 43, 0.1) 75%, rgba(17, 17, 17, 0) 100%), linear-gradient(40deg, rgba(96, 96, 96, 0.04) 0%, rgba(96, 96, 96, 0) 85%, rgba(43, 43, 43, 0.1) 85%, rgba(66, 66, 66, 0) 100%), linear-gradient(150deg, rgba(43, 43, 43, 0) 0%, rgba(43, 43, 43, 0.04) 71%, rgba(6, 6, 6, 0) 71%, rgba(6, 6, 6, 0) 100%), linear-gradient(311deg, rgba(203, 203, 203, 0) 0%, rgba(26, 26, 26, 0) 58%, rgb(3, 3, 3) 58%, rgba(3, 3, 3, 0.02) 100%), linear-gradient(300deg, rgba(203, 203, 203, 0) 0%, rgba(26, 26, 26, 0) 30%, rgba(3, 3, 3, 0.6) 30%, rgba(3, 3, 3, 0.02) 100%), linear-gradient(137deg, rgba(110, 110, 110, 0.04) 0%, rgba(110, 110, 110, 0.04) 11%, rgba(17, 17, 17, 0) 11%, rgba(17, 17, 17, 0.04) 100%), linear-gradient(110deg, rgba(110, 110, 110, 0.04) 0%, rgba(110, 110, 110, 0.04) 11%, rgba(17, 17, 17, 0) 11%, rgba(17, 17, 17, 0.04) 100%), linear-gradient(200deg, rgb(17, 17, 17), rgb(5, 5, 5));
}

.hero {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  z-index: 1;
  padding: 10px 20px 40px 20px;
}
.hero__title {
  font-size: 4vw;
  margin-bottom: 80px;
  /*letter-spacing: .3rem;*/
  letter-spacing: 0.1rem;
  /*line-height: 3;*/
  line-height: 2;
  padding-top: 40px;
  text-align: center;
  font-weight: 200;
}
.hero__title--bigger {
  display: block;
  position: relative;
  font-size: 9vw;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  color: #E6B200;
  font-weight: 800;
}
.hero__title--bigger::after {
  content: "";
  position: absolute;
  background-color: #E6B200;
  width: 100px;
  height: 2px;
  left: 0;
  right: 0;
  bottom: -15px;
  margin: 0 auto;
}
.hero__title--bigger::before {
  content: "";
  position: absolute;
  background-color: #E6B200;
  width: 50px;
  height: 2px;
  left: 0;
  right: 0;
  bottom: -40px;
  margin: 0 auto;
}
.hero__intro {
  letter-spacing: 0.1rem;
  line-height: 2;
  /* text-align: center;*/
  padding: 5px 25px 5px 25px;
}
.hero__intro--middle-text {
  font-size: 16px;
}
.hero__intro--person-name {
  text-transform: uppercase;
  color: #E6B200;
  font-size: 7vw;
  font-weight: 600;
  letter-spacing: 0.2rem;
}
.hero__intro--job {
  text-transform: uppercase;
  color: #E6B200;
  text-align: right;
  font-weight: 200;
  font-size: 20px;
  margin: 0;
  margin: 40px 0;
  border-right: 2px solid #E6B200;
  padding-right: 20px;
}
.hero__intro--small-text {
  font-size: 12px;
  text-align: justify;
  letter-spacing: 0.1rem;
  padding-bottom: 25px;
}
.hero__img {
  display: none;
}
@media screen and (min-width: 520px) {
  .hero {
    display: flex;
    flex-direction: column;
    padding: 50px 20px 40px 20px;
  }
  .hero__title {
    line-height: 1.5;
    margin-bottom: 0;
    font-size: 3vw;
    letter-spacing: 0.5rem;
  }
  .hero__title--bigger {
    display: inline;
    transform: scale(1.1, 2.5);
    color: #E6B200;
  }
  .hero__title--bigger::after, .hero__title--bigger::before {
    display: none;
  }
  .hero__intro {
    order: 1;
  }
  .hero__intro--middle-text {
    font-size: 20px;
    margin-right: 0;
    text-align: center;
  }
  .hero__intro--small-text {
    font-size: 14px;
  }
  .hero__intro--person-name {
    /*font-size: 35px;*/
    font-size: 45px;
  }
  .hero__intro--job {
    font-size: 25px;
    border: none;
    padding-right: 0;
    text-align: center;
  }
  .hero__img {
    display: block;
    position: inherit;
    max-width: 30%;
    max-height: 30%;
    align-self: center;
  }
}
@media screen and (min-width: 960px) {
  .hero {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
  }
  .hero__title {
    text-align: left;
    line-height: 1.5;
    font-size: 20px;
    padding: 20px 0 100px 100px;
  }
  .hero__title--bigger {
    font-size: 75px;
    transform: scale(0.8, 2.2);
    color: #E6B200;
    padding-left: 50px;
  }
  .hero__intro {
    border-right: none;
    text-align: left;
    border-left: 4px solid #E6B200;
    padding-left: 50px;
  }
  .hero__intro--middle-text {
    text-align: left;
  }
  .hero__intro--job {
    text-align: left;
    padding-top: 50px;
  }
  .hero__intro--small-text {
    padding-top: 70px;
  }
  .hero__img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    align-self: flex-start;
    grid-row-end: span 3;
    border-right: 4px solid #E6B200;
    margin-top: 60px;
    padding-top: 30px;
    padding-right: 50px;
  }
}

.about-container {
  background-color: #E6B200;
}

.about {
  max-width: 1200px;
  height: auto;
  line-height: 1.5;
  color: #292929;
  margin: 0 auto;
  padding: 30px 30px 80px 30px;
}
.about__title {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 0.2rem;
  padding: 50px 0 30px 0;
}
.about__img {
  max-width: 100%;
  /*padding-bottom: 30px;*/
  /*filter: grayscale(100%);*/
  border-radius: 100%;
  border: 7px solid #f6c41f;
  opacity: 90%;
}
.about__content {
  font-size: 16px;
  text-align: justify;
}
@media screen and (min-width: 520px) {
  .about__img {
    display: block;
    max-width: 70%;
    margin: auto;
    /*padding-top: 20px;*/
  }
}
@media screen and (min-width: 960px) {
  .about {
    display: grid;
    grid-template-columns: 58% 35%;
    -moz-column-gap: 70px;
         column-gap: 70px;
    padding-top: 60px;
    padding-bottom: 100px;
  }
  .about__title {
    grid-row-start: 1;
    grid-column-start: 2;
    text-align: left;
  }
  .about__img {
    max-width: 100%;
    grid-column-start: 1;
    grid-row-end: span 2;
    /*padding-top: 50px;*/
  }
  .about__text {
    text-align: justify;
    grid-column-start: 2;
  }
}

.courses-container {
  background-image: repeating-linear-gradient(0deg, hsla(83, 0%, 53%, 0.03) 0px, hsla(83, 0%, 53%, 0.03) 1px, transparent 1px, transparent 12px), repeating-linear-gradient(67.5deg, hsla(83, 0%, 53%, 0.03) 0px, hsla(83, 0%, 53%, 0.03) 1px, transparent 1px, transparent 12px), repeating-linear-gradient(157.5deg, hsla(83, 0%, 53%, 0.03) 0px, hsla(83, 0%, 53%, 0.03) 1px, transparent 1px, transparent 12px), repeating-linear-gradient(112.5deg, hsla(83, 0%, 53%, 0.03) 0px, hsla(83, 0%, 53%, 0.03) 1px, transparent 1px, transparent 12px), repeating-linear-gradient(22.5deg, hsla(83, 0%, 53%, 0.03) 0px, hsla(83, 0%, 53%, 0.03) 1px, transparent 1px, transparent 12px), repeating-linear-gradient(0deg, hsla(83, 0%, 53%, 0.03) 0px, hsla(83, 0%, 53%, 0.03) 1px, transparent 1px, transparent 12px), repeating-linear-gradient(112.5deg, hsla(83, 0%, 53%, 0.03) 0px, hsla(83, 0%, 53%, 0.03) 1px, transparent 1px, transparent 12px), repeating-linear-gradient(22.5deg, hsla(83, 0%, 53%, 0.03) 0px, hsla(83, 0%, 53%, 0.03) 1px, transparent 1px, transparent 12px), linear-gradient(90deg, rgb(230, 178, 0), rgb(246, 225, 31));
}

.courses {
  max-width: 1200px;
  height: auto;
  line-height: 1.5;
  color: #292929;
  margin: 0 auto;
  padding: 30px 30px 80px 30px;
}
.courses__title {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 0.2rem;
  padding: 50px 0 30px 0;
}
.courses__img {
  max-width: 100%;
  /*padding-bottom: 30px;*/
  /*filter: grayscale(100%);*/
  border-radius: 2px;
  opacity: 90%;
  border: 7px solid #f6c41f;
}
.courses__text {
  border-radius: 15px;
  text-align: center;
  padding: 10px 20px;
}
@media screen and (min-width: 520px) {
  .courses__img {
    display: block;
    max-width: 70%;
    margin: auto;
    /*padding-top: 20px;*/
  }
}
@media screen and (min-width: 960px) {
  .courses {
    display: grid;
    grid-template-columns: 47% 47%;
    grid-template-rows: 40% 60%;
    -moz-column-gap: 70px;
         column-gap: 70px;
    padding-top: 60px;
  }
  .courses__title {
    grid-row-start: 1;
    grid-column-start: 1;
    text-align: left;
    margin-bottom: 30px;
    padding-left: 20px;
  }
  .courses__img {
    max-width: 90%;
    grid-column-start: 2;
    grid-row-end: span 2;
  }
  .courses__text {
    text-align: left;
    grid-column-start: 1;
    grid-row-start: 2;
  }
}

.technology-container {
  /*background-color: #fafafa;*/
  background-color: #f5f5f5;
  color: #292929;
}

.technology {
  margin: 0 auto;
  padding: 30px 30px 80px 30px;
}
.technology__title {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 0.2rem;
  padding: 50px 0 30px 0;
}
.technology__list {
  margin: 30px 0 40px 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
  padding: 10px 0;
  row-gap: 20px;
  justify-content: space-between;
}
.technology__content-title {
  position: relative;
  text-align: center;
  color: #E6B200;
  font-size: 20px;
  margin: 16px 0;
  padding: 20px 20px 20px 20px;
}
.technology__content-title::after {
  content: "";
  position: absolute;
  background-color: #E6B200;
  width: 95%;
  height: 2px;
  left: 0;
  right: 0;
  bottom: 5px;
  margin: 0 auto;
}
.technology__content-text {
  position: relative;
  padding: 0 20px 25px 20px;
  font-size: 15px;
  text-align: justify;
  line-height: 1.5;
}
.technology__content-text::after {
  content: "";
  position: absolute;
  background-color: #E6B200;
  width: 95%;
  height: 2px;
  left: 0;
  right: 0;
  bottom: -5px;
  margin: 0 auto;
}
.technology__item {
  border-radius: 2px 2px 30% 30%;
  border-top: 2px solid #ffffff;
  box-shadow: 2px 2px 10px #dadada;
  height: 100px;
  width: 100px;
  background: linear-gradient(to right top, rgb(246, 225, 31), rgb(230, 178, 0));
  font-size: 11px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.technology__item--important {
  /*background: linear-gradient(to right top, rgb(246, 189, 31), rgb(230, 123, 0)); */
  background: linear-gradient(to right top, rgb(246, 225, 31), rgb(246, 225, 31));
  height: 150px;
  width: 150px;
}
.technology__tools {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 20px;
  font-weight: 600;
  margin-bottom: 25px;
  padding: 10px 20;
  margin-top: 50px;
}
.technology__tool {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  /*align-self: center;*/
  background-color: #ffffff;
  border-radius: 2px 2px 30% 30%;
  border-top: 2px solid #E6B200;
  box-shadow: 2px 2px 10px #dadada;
  height: 100px;
  width: 100px;
}
.technology__tool-icon {
  width: 50%;
  align-self: center;
  /*background-color: #ffffff;
  padding: 20px;
  border-radius: 2px 2px 30% 30%;
  border-top: 2px solid colors.$primary-c;
  box-shadow: 2px 2px 10px #dadada;*/
}
.technology__tool-desc {
  margin: 10px 0 5px 0;
  align-self: center;
  text-align: center;
}
@media screen and (min-width: 520px) {
  .technology {
    line-height: 1.75;
    display: grid;
  }
  .technology__title {
    font-size: 25px;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: span 2;
  }
  .technology__content {
    padding: 0;
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .technology__content-title {
    font-size: 25px;
  }
  .technology__content-title::after {
    bottom: 10px;
  }
  .technology__content-text {
    font-size: 16px;
  }
  .technology__list {
    margin: 40px 0 20px 0;
    grid-row-start: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 20px;
    row-gap: 40px;
  }
  .technology__tools {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    margin: 40px 0 20px 0;
    padding: 20px;
    row-gap: 40px;
  }
  .technology__tool {
    margin: 0;
  }
}
@media screen and (min-width: 960px) {
  .technology {
    max-width: 1200px;
    padding-top: 60px;
    padding-bottom: 120px;
  }
  .technology__content {
    padding: 0 40px;
  }
  .technology__content-title {
    padding-bottom: 30px;
  }
  .technology__content-title::after {
    bottom: 15px;
  }
  .technology__list {
    padding: 40px 60px 0 60px;
    -moz-column-gap: 70px;
         column-gap: 70px;
    margin-top: 40px;
    row-gap: 50px;
  }
  .technology__item {
    text-transform: uppercase;
    width: 100px;
    height: 100px;
  }
  .technology__tools {
    padding: 40px 60px 0 60px;
    -moz-column-gap: 70px;
         column-gap: 70px;
    row-gap: 50px;
  }
}

.footer-container {
  background-color: #191919;
  color: #b6b6b6;
  flex-grow: 0;
  flex-shrink: 0;
}

.footer {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 33.3333333333%;
  gap: 20px;
  margin: 0 auto;
  padding: 40px 20px;
}
.footer__text {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin: 0;
}
.footer__text--different-color {
  color: #E6B200;
  margin: 15px 0 0 0;
}
.footer__icons {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  gap: 40px;
  align-content: center;
  height: 40px;
}
.footer__buttons {
  align-self: center;
  width: 40px;
  opacity: 0.7;
}
.footer__buttons--up {
  display: none;
}
@media screen and (min-width: 520px) {
  .footer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }
  .footer__icons {
    justify-content: center;
  }
}
@media screen and (min-width: 960px) {
  .footer {
    flex-basis: 25%;
  }
  .footer__icons {
    justify-content: flex-end;
    padding-right: 70px;
  }
  .footer__buttons {
    opacity: 0.5;
    transition: 0.5s;
  }
  .footer__buttons:hover, .footer__buttons:focus {
    opacity: 1;
  }
  .footer__buttons--up {
    opacity: 0.5;
    transition: 0.5s;
    display: block;
  }
  .footer__buttons--up:hover, .footer__buttons--up:focus {
    opacity: 1;
    border-radius: 100%;
    position: relative;
    animation-name: up;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }
  @keyframes up {
    from {
      bottom: 0px;
    }
    to {
      bottom: 15px;
    }
  }
}

.copyright {
  background-color: #E6B200;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  color: #292929;
  font-size: 12px;
  text-align: center;
  margin: 0 auto;
  padding: 15px 0;
  font-weight: 600;
}

.contact-container {
  background-image: linear-gradient(#191919, #191919, #131313);
}

.contact {
  margin: 0 auto;
  padding: 20px 30px 225px 30px;
}
.contact__title {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 0.2rem;
  color: #cfcfcf;
  padding: 30px 0 60px 0;
}
.contact__img {
  display: none;
}
@media screen and (min-width: 520px) {
  .contact {
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: 15% 450px;
    -moz-column-gap: 20px;
         column-gap: 20px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .contact__title {
    grid-column-end: span 2;
  }
  .contact__img {
    display: block;
    width: 100%;
    padding-left: 20px;
    align-self: center;
  }
}
@media screen and (min-width: 960px) {
  .contact {
    max-width: 1200px;
    -moz-column-gap: 70px;
         column-gap: 70px;
    grid-template-rows: 25% 450px;
  }
}

.form__field {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  justify-content: space-between;
}
.form__label {
  color: #E6B200;
  font-size: 10px;
  text-transform: uppercase;
  opacity: 80%;
  padding: 20px 0 5px 0;
}
.form__input {
  background-color: #dbdbdb;
  height: 30px;
  opacity: 90%;
  border-radius: 2px;
}
.form__textarea {
  height: auto;
}
.form__btn {
  display: block;
  background-color: #E6B200;
  border-radius: 2px;
  font-size: 12px;
  text-transform: uppercase;
  margin: 60px auto;
  padding: 10px 30px;
  font-weight: 700;
  border: none;
}
@media screen and (min-width: 520px) {
  .form {
    padding-left: 50px;
  }
}
@media screen and (min-width: 960px) {
  .form {
    border-left: 4px solid #E6B200;
    padding-top: 20px;
  }
  .form__btn {
    background-color: #191919;
    color: #E6B200;
    border: 1px solid #E6B200;
    transition: box-shadow 500ms ease-in-out, color 500ms ease-in-out;
  }
  .form__btn:hover, .form__btn:focus {
    /*background-image: linear-gradient(to right, colors.$button-main-color, colors.$button-sec-color);
    color: colors.$button-text-main-color; */
    color: #292929;
    box-shadow: 0 0 40px 40px #E6B200 inset;
  }
}

.projects-container {
  background-image: linear-gradient(#191919, #191919, #131313);
}

.projects {
  line-height: 1.5;
  margin: 0 auto;
  padding: 30px 30px 75px 30px;
}
.projects__title {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 0.2rem;
  color: #cfcfcf;
  padding: 50px 0 30px 0;
}
.projects__box {
  background-color: #292929;
  border-radius: 2px;
  margin: 16px 0;
  padding: 20px;
}
.projects__subtitle {
  color: #E6B200;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  margin: 0;
  letter-spacing: 0.2rem;
  padding-bottom: 30px;
}
.projects__img {
  width: 100%;
  border-radius: 2px;
}
.projects__text {
  font-size: 15px;
  text-align: justify;
  color: #cfcfcf;
  margin-top: 30px;
  margin-bottom: 30px;
}
.projects__project-button {
  display: block;
  height: auto;
  background-color: #E6B200;
  border-radius: 2px;
  color: #292929;
  text-align: center;
  text-decoration: none;
  font-size: small;
  font-weight: 600;
  margin: 15px 0;
  padding: 10px 10px;
}
@media screen and (min-width: 520px) {
  .projects__box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 65px 120px;
    gap: 5px 50px;
    align-items: start;
    padding-left: 40px;
    padding-right: 40px;
  }
  .projects__subtitle {
    grid-column-end: span 2;
    margin-top: 20px;
  }
  .projects__img {
    /*grid-column: <start-line> / <end-line> | <start-line> / span <value>;*/
    grid-column: 1/2;
    grid-row: 2/3;
    margin-top: 15px;
  }
  .projects__text {
    font-size: 14px;
    margin-top: 15px;
  }
  .projects__text--first {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .projects__text--second {
    grid-column: 2/3;
    grid-row: 3/5;
  }
  .projects__project-web {
    grid-column: 1/2;
    grid-row: 3/4;
    height: auto;
  }
  .projects__project-gh {
    grid-column: 1/2;
    grid-row: 4/5;
  }
}
@media screen and (min-width: 960px) {
  .projects {
    max-width: 1000px;
  }
  .projects__box {
    grid-template-rows: auto;
    padding-left: 50px;
    padding-right: 50px;
    gap: 20px 80px;
  }
  .projects__subtitle {
    grid-column-end: span 2;
  }
  .projects__img {
    display: none;
  }
  .projects__scroll-img {
    height: 270px;
    grid-column: 1/2;
    grid-row: 2/4;
    background-color: #292929;
    background-position: top;
    transition: ease-in-out 6s;
  }
  .projects__scroll-img--img1 {
    background-image: url("../images/portfolio_screen1.png");
    background-size: cover;
    border-radius: 2px;
  }
  .projects__scroll-img:hover {
    background-position: bottom;
  }
  .projects__text {
    margin-top: 0;
    font-size: 14px;
  }
  .projects__text--first {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .projects__text--second {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .projects__project-button {
    background-color: #292929;
    color: #E6B200;
    border: 1px solid #E6B200;
    margin: 15px 60px;
    transition: box-shadow 500ms ease-in-out, color 500ms ease-in-out;
  }
  .projects__project-button:hover, .projects__project-button:focus {
    color: #292929;
    box-shadow: 0 0 40px 40px #E6B200 inset;
  }
  .projects__project-web {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .projects__project-gh {
    grid-column: 2/3;
    grid-row: 4/5;
  }
}

.gallery-container {
  background-image: linear-gradient(#191919, #191919, #131313);
}

.gallery {
  height: 100%;
  line-height: 1.5;
  margin: 0 auto;
  padding: 30px 30px 40px 30px;
}
.gallery__title {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 0.2rem;
  color: #cfcfcf;
  padding: 50px 0 0 0;
}
.gallery__box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  gap: 10px;
  padding: 20px 20px 25px 20px;
}
.gallery__subtitle {
  position: relative;
  color: #E6B200;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  margin: 0;
  letter-spacing: 0.2rem;
  padding-bottom: 50px;
  padding-top: 60px;
}
.gallery__subtitle::after {
  content: "";
  position: absolute;
  background-color: #E6B200;
  width: 150px;
  height: 2px;
  left: 0;
  right: 0;
  top: 110px;
  margin: 0 auto;
}
.gallery__img {
  height: 200px;
  width: 150px;
  -o-object-fit: contain;
     object-fit: contain;
  vertical-align: middle;
}
@media screen and (min-width: 520px) {
  .gallery__box {
    padding: 40px;
    height: auto;
  }
  .gallery__img {
    height: auto;
    width: 100%;
  }
}
@media screen and (min-width: 960px) {
  .gallery {
    max-width: 1200px;
  }
  .gallery__box {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}/*# sourceMappingURL=style.css.map */