/* --- BACKGROUND COLORS -- */
$main-bg: #292929;
$sec-bg: #191919;


/* --- PRIMARY COLOR -- */
$primary-c: #E6B200;


/* --- TEXT COLORS -- */
$text-color: #cfcfcf;
$dark-text-color: $main-bg;
/*$text-color: #b6b6b6;*/


/* --- LIGHT BUTTON -- */
$button-main-color: $primary-c;
$button-sec-color: #F6E11F;
$button-text-main-color: $main-bg;


/* --- DARK BUTTON -- */
$dark-button-main-color: $sec-bg;
$dark-button-sec-color: $main-bg;
$dark-button-text-color: $primary-c;