@use "root";
@use "colors";

.gallery-container {
    background-image: linear-gradient(colors.$sec-bg, colors.$sec-bg, #131313);
}

.gallery {
    margin: 0 auto;
    line-height: 1.5;
    padding: 20px 20px 80px 20px;
    height: 100%;

    &__title {
        text-align: center;
        text-transform: uppercase;
        margin: 0;
        padding: 30px 0 0 0;
        color: colors.$text-color;
        letter-spacing: .2rem;
    }

    &__box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        padding: 20px;
        gap: 10px;
        justify-content: center;
    }

    &__box-item {
    }

    &__img {
        height: 200px;
        width: 150px;
        object-fit: contain;
        vertical-align: middle;
    }

    &__subtitle {
        position: relative;
        color: colors.$primary-c;
        text-transform: uppercase;
        text-align: center;
        font-size: 20px;
        letter-spacing: .2rem;
        margin: 0;
        padding-bottom: 50px;
        padding-top: 60px;

        &::after {
            content: '';
            position: absolute;
            background-color: colors.$primary-c;
            width: 150px;
            height: 2px;
            left: 0;
            right: 0;
            top: 110px;
            margin: 0 auto;
        }
    }

    @media screen and (min-width: 495px) {
        &__box {
            padding:  40px;
        }

        &__box {
            height: auto;
        }
    
        &__box-item {
        }
    
        &__img {
            height: auto;
            width: 100%;
        }
    }

    @media screen and (min-width: 960px) {
        max-width: 1200px;

        &__box {
            /*grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr; */
        }

        &__box-item {
           /* filter:grayscale(100%);
    
            &:hover {
                filter:grayscale(0%);
            }*/
        }
    }
}