@use "root";
@use "colors";
@use "mixins";

.gallery-container {
    background-image: linear-gradient(colors.$sec-bg, colors.$sec-bg, #131313);
}

.gallery {
    height: 100%;
    line-height: 1.5;
    margin: 0 auto;
    padding: 30px 30px 40px 30px;
    
    &__title {
        @include mixins.main-title;
        color: colors.$text-color;
        padding: 50px 0 0 0;    
    }

    &__box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        justify-content: center;
        gap: 10px;
        padding: 20px 20px 25px 20px;
    }

    &__subtitle {
        position: relative;
        @include mixins.subtitle;
        padding-bottom: 50px;
        padding-top: 60px;

        &::after {
            content: '';
            position: absolute;
            background-color: colors.$primary-c;
            width: 150px;
            height: 2px;
            left: 0;
            right: 0;
            top: 110px;
            margin: 0 auto;
        }
    }

    &__img {
        height: 200px;
        width: 150px;
        object-fit: contain;
        vertical-align: middle;
    }

    @include mixins.tablet {
        &__box {
            padding:  40px;
            height: auto;
        }

        &__img {
            height: auto;
            width: 100%;
        }
    }

    @include mixins.pc {
        max-width: 1200px;

        &__box {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
        }
    }
}