@use "colors";
@use "logo";
@use "mixins";

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: colors.$sec-bg;
    padding: 20px 20px;
}

.logo {
    align-self: flex-start;
}

.menu {
    position: relative;
    order: -1;

    &__list {
        height: 100vh;
        width: 100vw;
        
        text-align: center;
        z-index: 2; 
        position: absolute;
        display: none;
        background-color: colors.$primary-c;
        /*filter: brightness(80%);*/ /* <-- Snížení jasu menu na telefonu */
        margin-top: -20px;
        margin-left: -20px; 
    }

    &__items {
        margin-top: 100px;
        list-style: none;
        padding: 0;
    }

    &__link {
        display: inline-block;
        font-size: 14px;
        color: colors.$dark-text-color;  
        text-decoration: none; 
        margin: 20px 0;
        font-weight: 600;
    }

    &__checkbox {
        position: absolute;  
        left: -9999px;
    }

    &__toggler {
        height: 80%;
        position: absolute;
        background-repeat: no-repeat;
        cursor: pointer;
        color: transparent;
        background-image: url(/images/mobile_menu_edit.svg);
        background-position: 0 85%;
        background-size: 80%;
        top: 5px;
    }
} 

.menu__checkbox:checked ~ .menu__toggler {
    background-image: url(/images/mobile_menu_close_edit.svg);
    z-index: 3;
}

.menu__checkbox:checked ~ .menu__list {
    display: block;
}

.button-contact {
    position: relative;
    display: inline-block;
    background-image: linear-gradient(to right, colors.$dark-button-main-color, colors.$dark-button-sec-color);
    /*border-radius: 30px;*/
    border-radius: 2px;
    box-shadow: 1px 1px 3px black;
    font-weight: 600;  
    color: colors.$dark-button-text-color;
    margin-top: 70px;
    padding: 8px 38px 8px 15px;

    &__icon::after {
        position: absolute;
        content: '';
        width: 18px;
        height: 18px;
        background-image: url(../images/contact_y.svg);
        background-repeat: no-repeat;
        background-size: contain;
        left: 80px;
    }
}

@include mixins.tablet {

    .header {
        flex-direction: column;
    }   

    .logo {
        align-self: center;
        padding-bottom: 30px;

        &__link {
            text-decoration: none;
        }
    }

    .menu {
        order: 0;

        &__list {
            position: inherit;
            display: inline-block;
            height: auto;
            margin: 0;
            background-color: transparent;  
        }

        &__checkbox {
            display: none;
        }

        &__items {
            margin: 0;
        }

        &__item {
            display: inline-block;     
        }

        &__link {
            display: block;
            position: relative;
            color: #b6b6b6;
            margin: 10px 15px;  
            transition: 0.4s;

            &--active {
                color: #ffc918; 
            }     
        }

        &__toggler {
            display: none;
        }
    }
    
    .button-contact {
        display: inline-block;
        background-image: linear-gradient(to right, colors.$button-main-color, colors.$button-sec-color);
        color: colors.$button-text-main-color;  
        font-weight: 800;
        margin: 0;
        margin-left: 0;

        &__icon::after {
            background-image: url(../images/contact.svg);
        }
    }
}

@include mixins.pc   {
    
    .header {
        flex-direction: row;
    }

    .logo {
        padding-bottom: 0;
        padding-left: 20px;
    }
 
    .menu {  
        
        &__list {
            width: auto;
        }

        &__item {
            padding-right: 25px;
        }

        &__link {
            font-size: 14px;
            margin: 20px 10px;

            &--underline::after {
                content: '';
                position: absolute;
                background-color: colors.$primary-c;
                width: 125%;
                height: 2px;
                bottom: -8px;
                left: -10%;
                transform: scaleX(0);
                transform-origin: bottom right;
                transition: transform 0.4s ease-out;
            } 

            &--underline:hover {
                color: #ffffff;
            }
    
            &--underline:hover:after,
            &--underline:focus:after {
                transform: scaleX(1);
                transform-origin: bottom left;
            }

            &--active::after {
                width: 0%;
            }

            &--active:hover:not(.active),
            &--active:focus:not(.active) {
                color: #ffc918; 
            }
        }
    }

    .button-contact {
        box-shadow: inset 0 0 0 0 colors.$button-sec-color;
        transition: box-shadow 0.5s ease-in-out 0s;
        margin-left: 70px;

        &:hover, &:focus {
            box-shadow: inset 150px 0 0 0 #FFECB2;
        }
    }  
}
