@use "root";
@use "colors";
@use "mixins";

.hero-container {
    /*background-image: linear-gradient(colors.$sec-bg, #131313);*/
    background-image: 
    linear-gradient(78deg, rgba(96, 96, 96, 0.04) 0%, rgba(96, 96, 96, 0) 35%, rgba(43, 43, 43, 0.1) 35%, rgba(17, 17, 17, 0) 100%),
    linear-gradient(60deg, rgba(96, 96, 96, 0.04) 0%, rgba(96, 96, 96, 0) 75%, rgba(43, 43, 43, 0.1) 75%, rgba(17, 17, 17, 0) 100%),
    linear-gradient(40deg, rgba(96, 96, 96, 0.04) 0%, rgba(96, 96, 96, 0) 85%, rgba(43, 43, 43, 0.1) 85%, rgba(66, 66, 66, 0) 100%),
/*linear-gradient(130deg, rgba(96, 96, 96, 0.04) 0%, rgba(96, 96, 96, 0) 55%, rgba(43, 43, 43, 0.1) 55%, rgba(17, 17, 17, 0) 100%),*/
    linear-gradient(150deg, rgba(43, 43, 43, 0) 0%, rgba(43, 43, 43, 0.04) 71%, rgba(6, 6, 6, 0) 71%, rgba(6, 6, 6, 0) 100%),    
    linear-gradient(311deg, rgba(203, 203, 203, 0) 0%, rgba(26, 26, 26, 0) 58%, rgba(3, 3, 3, 1) 58%, rgba(3, 3, 3, 0.02) 100%),
/**/linear-gradient(300deg, rgba(203, 203, 203, 0) 0%, rgba(26, 26, 26, 0) 30%, rgba(3, 3, 3, 0.6) 30%, rgba(3, 3, 3, 0.02) 100%),    
/*linear-gradient(100deg, rgba(43, 43, 43, 0) 0%, rgba(43, 43, 43, 0.04) 40%,rgba(6, 6, 6, 1) 71%, rgba(6, 6, 6, 1) 100%),*/
    linear-gradient(137deg, rgba(110, 110, 110, 0.04) 0%, rgba(110, 110, 110, 0.04) 11%, rgba(17, 17, 17, 0) 11%, rgba(17, 17, 17, 0.04) 100%),
/**/linear-gradient(110deg, rgba(110, 110, 110, 0.04) 0%, rgba(110, 110, 110, 0.04) 11%, rgba(17, 17, 17, 0) 11%, rgba(17, 17, 17, 0.04) 100%),
    linear-gradient(200deg, rgb(17, 17, 17), rgb(5, 5, 5));
}

.hero {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    z-index: 1; 
    padding: 10px 20px 40px 20px;
    
    &__title {
        font-size: 4vw;
        margin-bottom: 80px;
        /*letter-spacing: .3rem;*/
        letter-spacing: .1rem;
        /*line-height: 3;*/
        line-height: 2;
        padding-top: 40px;
        text-align: center;
        font-weight: 200;
        
        &--bigger {
            display: block;
            position: relative;
            font-size: 9vw;
            letter-spacing: .3rem;
            text-transform: uppercase;
            color: colors.$primary-c;  
            font-weight: 800;
            
            &::after {
                content: '';
                position: absolute;
                background-color: colors.$primary-c;
                width: 100px;
                height: 2px;
                left: 0;
                right: 0;
                bottom: -15px;
                margin: 0 auto;
            }

            &::before {
                content: '';
                position: absolute;
                background-color: colors.$primary-c;
                width: 50px;
                height: 2px;
                left: 0;
                right: 0;
                bottom: -40px;
                margin: 0 auto;
            }
        }
    }

    &__intro {
        letter-spacing: .1rem;
        line-height: 2;
       /* text-align: center;*/
        padding: 5px 25px 5px 25px; 

        &--middle-text {
            font-size: 16px; 
        }

        &--person-name {
            text-transform: uppercase;
            color: colors.$primary-c;
            font-size: 7vw;
            font-weight: 600;
            letter-spacing: .2rem;
        }

        &--job {
            text-transform: uppercase;
            color: colors.$primary-c;
            text-align: right;
            font-weight: 200;
            font-size: 20px;
            margin: 0;
            margin: 40px 0;
            border-right: 2px solid colors.$primary-c;
            padding-right: 20px;
        }

        &--small-text {
            font-size: 12px;
            text-align: justify;
            letter-spacing: .1rem;
            padding-bottom: 45px;
        }
    }

    &__img {
        display: none;
    }

    @include mixins.tablet {
           
        display: flex;
        flex-direction: column;
        padding: 50px 20px 40px 20px; 

        &__title {
            line-height: 1.5;
            margin-bottom: 0;
            font-size: 3vw;
            letter-spacing: .5rem;

            &--bigger {
                display: inline;
                transform: scale(1.1 , 2.5);
                color: colors.$primary-c; 

                &::after, &::before {
                    display: none;
                }
            }
        }

        &__intro {
            order: 1;
            
            &--middle-text {
                font-size: 20px;
                margin-right: 0;
                text-align: center;
            }
    
            &--small-text {
                font-size: 14px;
            }
    
            &--person-name {
                /*font-size: 35px;*/
                font-size: 45px;
            }
    
            &--job {
                font-size: 25px;
                border: none;
                padding-right: 0;
                text-align: center;
            }
        }

        &__img {
            display: block; 
            position: inherit;
            max-width: 30%;
            max-height: 30%;
            align-self: center;
        }
	}

	@include mixins.pc {

        max-width: 1200px;
        display: grid;
        grid-template-columns: 1.5fr 1fr;

        &__title {
            text-align: left;
            line-height: 1.5;
            font-size: 20px;
            padding: 20px 0 100px 100px;

            &--bigger {
                font-size: 75px;
                transform: scale(.8 , 2.2);
                color: colors.$primary-c;
                padding-left: 50px;   
            }
        }

        &__intro {
            border-right: none;
            text-align: left;
            border-left: 4px solid colors.$primary-c;
            padding-left: 50px;

            &--middle-text {
                text-align: left;
            }

            &--job {
                text-align: left;
                padding-top: 30px;
            }

            &--small-text {
                padding-top: 70px;
                font-size: 15px;
            }
        }

        &__img {
            display: block;
            max-width: 100%;
            max-height: 100%;
            align-self: flex-start;
            grid-row-end: span 3;
            border-right: 4px solid colors.$primary-c;
            margin-top: 60px;
            padding-top: 30px;
            padding-right: 50px;
        }
    }
}