@use "root";
@use "colors";

.hero-container {
    background-image: linear-gradient(colors.$sec-bg, colors.$main-bg);
}

.hero {
    margin: 0 auto;
    /*max-width: 1200px;*/
    /*height: 100vh;*/
    /*display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: repeat(6, 100px);*/
    display: flex;
    /*flex-basis: calc(100% / 2);*/
    flex-direction: column;
    /*justify-content: flex-start;*/

    /*position: relative;*/
    padding: 10px 20px 20px 20px;
    z-index: 1; 


    &__title {
        font-size: 4vw;
        /*font-size: 7vw;*/
        margin-bottom: 80px;
        letter-spacing: .6rem;
        line-height: 3;
        text-align: center;
        font-weight: 200;
        
        &--bigger {
            display: block;
            font-size: 9vw;
            text-transform: uppercase;
            transform: scale(1.1 , 2.5);
            color: colors.$primary-c;

            /*font-size: 7vw;*/
           /* letter-spacing: .5rem;*/
         
        }
    }

    &__intro {
        /*letter-spacing: .1rem;*/
        letter-spacing: .4rem;
        border-left: 4px solid colors.$primary-c;
        border-right: 4px solid colors.$primary-c;
        padding: 5px 10px 5px 10px; 
        line-height: 2;
        text-align: center;

        &--middleText {
            font-size: 16px; 
        }

        &--personName {
            text-transform: uppercase;
            color: colors.$primary-c;
            /*font-size: 20px;*/
            font-size: 5vw;
            font-weight: 600;
            letter-spacing: .2rem;
        }

        &--job {
            text-transform: uppercase;
            color: colors.$primary-c;
            font-weight: 200;
            font-size: 25px;
            /*margin: 30px 0;*/
            margin: 0;
            margin: 40px 0 ;

        }

        &--smallText {
            font-size: 10px;
            letter-spacing: .2rem;
        }

    }

    &__img {
        display: none;
       /* max-width: 50%;
        max-height: 50%;

        align-self: center;
        position: absolute;
        left: 50%;
        top: 15%;*/
    }

    @media screen and (min-width: 495px) {
        
        /*flex-direction: row;
        justify-content: space-between;*/
        padding: 50px 20px 20px 20px;    
        display: flex;
        flex-direction: column;

        &__title {
            line-height: 2;
            /*font-size: 40px;*/
            /*font-size: 1vw;*/
            margin-bottom: 0;
            font-size: 3vw;
            /*padding-left: 130px;*/

            

            &--bigger {
                display: inline;
                transform: scale(1.1 , 2.5);
                color: colors.$primary-c;
    
                /*font-size: 7vw;*/
               /* letter-spacing: .5rem;*/
             
            }
        }

        &__intro {
            order: 1;
    
            &--middleText {
                font-size: 20px;
                margin-right: 0;
            }
    
            &--smallText {
                font-size: 14px;
            }
    
            &--personName {
                font-size: 24px;
            }
    
            &--job {
                font-size: 35px;
            }
    
        }

        &__img {
            display: block; 
            position: inherit;
            max-width: 30%;
            max-height: 30%;
            align-self: center;
        }
	}

	@media screen and (min-width: 960px) {

        height: 100vh;
        /*flex-direction: row;*/
        max-width: 1200px;
        height:auto;
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        /*grid-template-columns: 800px 400px;*/
        /*grid-template-rows: 0.73fr 1fr;*/
        padding: 50px 20px 50px 20px; 


        &__title {
            text-align: left;
            /*font-size: 35px;*/
            line-height: 1.5;
            font-size: 20px;
            padding: 20px 0 100px 100px;


            &--bigger {
                /*font-size: 5.5vw;*/
                font-size: 75px;
                transform: scale(.8 , 2.2);
                color: colors.$primary-c;
                padding-left: 50px;
    
                /*font-size: 7vw;*/
               /* letter-spacing: .5rem;*/
             
            }
        }

        &__intro {
            border-right: none;
            
            text-align: left;
            padding-left: 50px;
        }

        &__img {
            display: block;
            max-width: 100%;
            max-height: 100%;
            align-self: flex-start;
           /* padding: 100px 20px 0 0;*/
            grid-row-end: span 3;
            /*align-self: center;*/
            margin-top: 60px;
            padding-top: 30px;
            padding-right: 50px;
            border-right: 4px solid colors.$primary-c;
        }

        
        
    }
}