@use "colors";

.logo {
    color: colors.$text-color; 
    font-size: 36px;
    margin: 0;
    padding: 0;

    &__link {
        color: colors.$text-color;
        text-decoration: none;
    }

    &__h {
        color: #E6B200;
    }

    &--inFooter {
        font-size: 80px;
        margin: 0;
        opacity: 0.6;
    }
}