@use "root";
@use "colors";
@use "mixins";

.about-container {
    background-color: colors.$primary-c;
}

.about {
    @include mixins.main-sections;
    color: colors.$dark-text-color;
    
    &__title {
        @include mixins.main-title;
    }

    &__img {
        @include mixins.section-img;
        margin: 25px 15px;
    }

    &__content {
        text-align: justify;
        padding-top: 15px;
    }


    @include mixins.tablet {
        &__img {
            display: block;
            max-width: 70%;
            margin: 40px auto 20px auto;
        }

        &__content {
            font-size: 18px;
            padding: 25px 15px 0 15px;
        }
    }

    @include mixins.pc {
        display: grid;
        /*grid-template-columns: 58% 35%;*/
        grid-template-columns: 47% 46%;
        column-gap: 70px;
        padding-top: 60px;
        padding-bottom: 100px;

        &__title {
            grid-row-start: 1;
            grid-column-start: 2;
            text-align: left;
        }

        &__img {
            width: 100%;
            height: auto;
            grid-column-start: 1;
            grid-row-end: span 2;
            margin-top: 60px;
        }

        &__text {
            text-align: justify;
            grid-column-start: 2;
        }

        &__content {
            font-size: 16px;
            padding-left: 0;
            padding-top: 15px;
            padding-right: 0;
        }
        
    }
}

.technology-container {
    background-color: #f5f5f5;
    color: #292929;
}

.technology {
    @include mixins.main-sections;

    &__title {
        @include mixins.main-title;
    }

    &__list {
        @include mixins.technology-badge-position;
        list-style: none;
        text-align: center;
        padding: 0;
        margin-top: 70px;
    }

    &__content1 {
        position: relative;
        padding: 20px 0 40px 0;
        
        &::after {
            content: '';
            position: absolute;
            background-color: colors.$primary-c;
            width: 110%;
            height: 2px;
            left: -15px;
            right: 0;
            bottom: 0;
            margin: 0 auto;
        }
    }

    &__content2 {
        padding: 20px 0 0 0;
    }

    &__content-title {
        position: relative;
        text-align: center;
        color: colors.$primary-c;
        font-size: 20px;
        margin: 16px 0;
        padding: 20px 20px 20px 20px;
    }

    &__content-text {
        text-align: justify;
        line-height: 1.5; 
    }

    &__tool, &__item {
        display: flex;
        flex-direction: column;
        height: 100px;
        width: 100px;
        border-radius: 2px 2px 30% 30%;
        box-shadow: 2px 2px 10px #dadada;
        font-weight: 600;
        font-size: 13px;
    }

    &__item {
        align-items: center; 
        justify-content: center;
        border-top: 2px solid #ffffff;
        background: linear-gradient(to right top, rgb(246,225,31), rgb(230,178,0));
    }

    &__tools {
        @include mixins.technology-badge-position;
    }

    &__tool {
        flex-direction: column;
        border-top: 2px solid colors.$primary-c; 
        background-color: #ffffff;
    }

    &__tool-icon {
        width: 55px;
        align-self: center;
    }

    &__tool-desc {
        margin: 10px 0 5px 0;
        text-align: center;
    }

    @include mixins.tablet { 
        line-height: 1.75;
        display: grid;
        grid-template-columns: 47% 46%;
        column-gap: 40px;
        row-gap: 25px;

        &__title {
            font-size: 25px;
            grid-row-start: 1;
            grid-column-start: 1;
            grid-column-end: span 2;
        }

        &__content1 {
            grid-row-start: 2;
            grid-column-start: 2;
            grid-column-end: 3;
            padding: 0 15px;

            &::after {
                display: none;
            }
        }

        &__content2 {
            grid-row-start: 3;
            grid-column-start: 1;
            grid-column-end: 2;
            padding: 0 15px;
        }

        &__content-title {
            font-size: 25px;
        }

        &__content-text {
            font-size: 18px;
            bottom: 10px;
        }

        &__list {
            margin: 40px 0 20px 0;
            grid-row-start: 3;
            grid-column-start: 2;
            grid-column-end: 3;
            padding: 15px;
            row-gap: 40px;
        }
        
        &__tools {
            grid-row-start: 2;
            grid-column-start: 1;
            grid-column-end: 2;
            margin: 40px 0 20px 0;
            padding: 15px;
            row-gap: 40px;
        }

        &__tool {
            margin: 0;
        }

    }

    @include mixins.pc {
        padding-top: 60px;
        padding-bottom: 110px;

        &__content1 {
            padding: 0 40px;
        }

        &__content2 {
            padding: 60px 40px 0 40px;
        }

        &__content-title {
            padding-bottom: 30px;

            &::after {
                bottom: 15px;
            }
        }

        &__content-text {
            font-size: 16px;
        }

        &__list {
            padding: 0 40px 0 40px;
            column-gap: 70px;
            margin-top: 80px;
            row-gap: 50px;
        }

        &__item {
            text-transform: uppercase;
            width: 100px;
            height: 100px;
            font-size: 11px;
        }
     
        &__tools {
            padding: 0 40px 0 40px;
            column-gap: 70px;
            row-gap: 50px;
            margin-top: 20px;
        }

        &__tool-desc {
            font-size: 11px;
        }

    }
}

.courses-container {
    background-image: repeating-linear-gradient(0deg, hsla(83,0%,53%,0.03) 0px, hsla(83,0%,53%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(67.5deg, hsla(83,0%,53%,0.03) 0px, hsla(83,0%,53%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(157.5deg, hsla(83,0%,53%,0.03) 0px, hsla(83,0%,53%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(112.5deg, hsla(83,0%,53%,0.03) 0px, hsla(83,0%,53%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(22.5deg, hsla(83,0%,53%,0.03) 0px, hsla(83,0%,53%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(0deg, hsla(83,0%,53%,0.03) 0px, hsla(83,0%,53%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(112.5deg, hsla(83,0%,53%,0.03) 0px, hsla(83,0%,53%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(22.5deg, hsla(83,0%,53%,0.03) 0px, hsla(83,0%,53%,0.03) 1px,transparent 1px, transparent 12px),linear-gradient(90deg, rgb(230,178,0),rgb(246,225,31));
}

.courses {
    @include mixins.main-sections;
    color: colors.$dark-text-color;
    
    &__title {
        @include mixins.main-title;
    }

    &__img {
        @include mixins.section-img;       
        margin: 25px 15px;
    }

    &__text {
        text-align: center;
        padding-top: 15px;
    }

    @include mixins.tablet {
        &__img {
            display: block;
            width: 70%;        
            height: auto;
            margin: 45px auto 20px auto;
            /*padding-top: 20px;*/
        }

        &__text {
            padding-top: 25px;
            font-size: 18px;
        }
    }

    @include mixins.pc {
        display: grid;
        grid-template-columns: 47% 47%;
        grid-template-rows: 40% 60%;
        column-gap: 70px;
        padding-top: 60px;

        &__title {
            grid-row-start: 1;
            grid-column-start: 1;
            text-align: left;
            margin-bottom: 15px;
            padding-left: 20px;
        }
    
        &__img {
            width: 90%;
            height: auto;
            grid-column-start: 2;
            grid-row-end: span 2;
        }
    
        &__text {
            text-align: left;
            grid-column-start: 1;
            grid-row-start: 2;
            font-size: 16px;
            padding-left: 20px;
        }
    }
}