@use "root";
@use "colors";
@use "mixins";


.about-container {
    background-color: colors.$primary-c;
}

.about {
    max-width: 1200px;
    height: auto;
    line-height: 1.5;
    color: colors.$dark-text-color;
    margin: 0 auto;
    padding: 30px 30px 40px 30px;
    
    &__title {
        @include mixins.main-title;
        padding: 50px 0 30px 0;
    }

    &__content {
        font-size: 16px;
        text-align: justify;
    }

    &__kurzy {
        border-radius: 15px;
        font-weight: 600;
        text-align: center;
        opacity: 90%;
        padding: 10px 20px;
    }

    @include mixins.tablet {

    }

    @include mixins.pc {

    }
}

.technology-container {
    background-color: #EEEEEE;
    color: #292929;
}

.technology {
    
    margin: 0 auto;
    padding: 30px 30px 40px 30px;

    &__title {
        @include mixins.main-title;
        padding: 50px 0 30px 0;
    }

    &__content, &__list,  &__tools {
        background-color: #ffffff;
        border-radius: 15px;
        box-shadow: 1px 1px 5px #c2c2c2;
    }

    &__content-title {
        position: relative;
        text-align: center;
        color: colors.$primary-c;
        font-size: 20px;
        margin: 16px 0;
        padding: 20px 20px 20px 20px;

            &::after {
                content: '';
                position: absolute;
                background-color: colors.$primary-c;
                width: 90%;
                height: 2px;
                left: 0;
                right: 0;
                bottom: 5px;
                margin: 0 auto;
            }
    }

    &__content-text {
        padding: 0 20px 25px 20px;
        font-size: 15px;
        text-align: justify;
        line-height: 1.5;
    }

    &__list {
        list-style: none;
        text-align: center;
        padding: 10px 0;
    }

    &__item {
        display: inline-block;
        border-radius: 30px;
        background-color: colors.$primary-c;
        font-size: 13px;
        color: #ffffff;
        font-weight: 600; 
        margin: 5px;
        padding: 5px 10px 5px 10px;  
    }

    &__tools {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 50px;
        row-gap: 20px;
        font-weight: 600;
        margin-bottom: 25px;
        padding: 20px 20px 10px 20px;
    }

    &__tool {
        display: flex;
        flex-direction: column;
        font-size: 13px;
        align-self: center;
    }

    &__tool-icon {
        width: 75%;
        align-self: center;
    }

    &__tool-desc {
        align-self: center;
        text-align: center;
    }

    @include mixins.tablet {
        
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 10%r 1fr 1fr;
        gap: 20px;
        line-height: 1.75;

        &__title {
            grid-column-end: span 3;
            font-size: 25px;
        }

        &__content {
            grid-column-start: 1;
            grid-column-end: 3;
            padding: 0 20px;
        }

        &__content-title {
            font-size: 25px;

            &::after {
                width: 95%;
                bottom: 10px;
            }
        }

        &__content-text {
            font-size: 16px;
        }

        &__list {
            display: flex;
            flex-direction: column;
            grid-row-start: 2;
            grid-column-start: 3;
            grid-column-end: 3;
            margin: 0;
        }

        &__item {
            margin: 5px 70px;
        }
        
        &__tools {
            grid-row-start: 3;
            grid-column-end: span 3;
        }
    }

    @include mixins.pc {

        max-width: 1200px;
        column-gap: 50px;
        row-gap: 60px;

        &__title {
            padding-bottom: 0;
        }

        &__content {
            padding: 0 40px;
        }

        &__content-title {
            padding-bottom: 30px;

            &::after {
                bottom: 15px;
            }
        }

        &__item {
            margin: 5px 150px;
        }
    }
}