<footer class="footer-container">
    <div class="footer">
        
        <h1 class="logo--inFooter">M<span class="logo__h">H</span></h1>

        <div class="footer__text">
            <p class="footer__text--different-color">Kontakt:</p>
            <p>michaela.hinnerova@gmail.com</p>
        </div>

        <div class="footer__icons">
            <a href="https://www.linkedin.com/in/michaela-hinnerova"><img class="footer__buttons" src="/images/linkedin_new.svg" alt="Linkedin ikona"></a>
            <a href="https://www.instagram.com/mija_hinn/"><img class="footer__buttons" src="/images/instagram_new.svg" alt="Instagram ikona"></a>
            <a href="https://github.com/MijaHinn"><img class="footer__buttons" src="/images/github_new.svg" alt="Github ikona"></a>
        </div>

        <div>
            <a href="#menu"><img class="footer__buttons--up" src="/images/arrow_up.svg" alt=""></a>
        </div>
    </div>

    <div class="copyright">
        Michaela Hinnerová &copy; 2023
    </div>

</footer>