
<header class="header">
    <h1 class="logo"><a class="logo__link" href="../index.html">M<span class="logo__h">H</span></a></h1>
    <nav class="menu">

        <input type="checkbox" class="menu__checkbox" id="menu-checkbox">
        <label for="menu-checkbox" class="menu__toggler">Menu</label>

        <ul class="menu__list">
            <div class="menu__items">
                <li class="menu__item"><a class="menu__link menu__link--underline" href="/about/">O mně</a></li>
                <li class="menu__item"><a class="menu__link menu__link--underline" href="/projects/">Projekty</a></li>
                <li class="menu__item"><a class="menu__link menu__link--underline" href="/gallery/">Galerie</a></li>
                <li class="menu__item"><a class="menu__link menu__link--underline menu__github" href="https://github.com/MijaHinn">GitHub</a></li>
                <li class="menu__item"><a class="menu__link button-contact" href="/contact/"><span class="button-contact__icon">Kontakt</span></a></li>
            </div>
        </ul>
    </nav>
</header>